#hand {
  animation: handanima 1.5s ease-in-out infinite alternate;
}

@keyframes handanima {
  from {
    transform: skew(0deg);
  }
  to {
    transform: skew(2deg);
  }
}

#head {
  animation: headanima 5s ease-in-out infinite alternate;
}

@keyframes headanima {
  from {
    transform: skewX(-2deg);
  }
  to {
    transform: skewX(0deg);
  }
}
