---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>🧑‍🚀 Hello !</h1>
            <p>
            Welcome to my personal space where I share thoughts, experiences, and insights on technology,
            creativity, and life. This is a space where I will talk about things I am actively working on and exploring.
            </p>
            <p>
            Enjoy the read, and feel free to connect!
            </p>
		</main>
		<Footer />
	</body>
</html>